@model PatientDetailsViewModel

@{
	ViewBag.Title = "Patient Problem Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="card mb-3" style="width: 18rem;">           
            <div class="card-body">
                <h5 class="card-title">Patient Info</h5>
                <p class="card-text">First Name: <span class="fw-bold">@Model.FirstName </span> </p>
                <p class="card-text">Last Name: <span class="fw-bold">@Model.LastName </span></p>
                <p class="card-text">Email: <span class="fw-bold">@Model.Email </span></p>
                <p class="card-text">Phone Number:<span class="fw-bold">@Model.PhoneNumber </span></p>
            </div>
        </div>       
    </div>
</div>


@if (Model.PatientProblems.Any())
{
    <div class="row">
        @foreach (var problem in Model.PatientProblems)
        {
            <partial name="_ProblemPartial" model="@problem" />
        }
    </div>
}
else
{
    <h3 class="text-center">No dental problems yet!</h3>
}