@model AllUsersQueryModel

@{
	ViewBag.Title = "User Profiles";

	int count = 0;

	if (Model.CurrentPage != 1)
	{
		count = Model.CurrentPage * 10 - 10;
	}

	<style>
		.btn.btn-action {
			background-color: #74992e;
			color: white;
		}
	</style>

}

<h2 class="text-center">@ViewBag.Title</h2>


<form method="get">
	<div class="row">

		<div class="form-group col-md-3 d-flex justify-content-between">
			<div class="form-group">
				<label asp-for="RoleName"></label>
				<select asp-for="RoleName" class="form-control">
					<option value="">All</option>
					@foreach (var rolename in Model.RoleNames)
					{
						<option value="@rolename">@rolename</option>
					}
				</select>
			</div>
		</div>

		<div class="form-group col-md-3">
			<div class="form-group">
				<label asp-for="Sorting"></label>
				<select asp-for="Sorting" class="form-control">
					<option value="0">Newest</option>
					<option value="1">Name</option>
				</select>
			</div>
		</div>

		<div class="form-group col-md-3">
			<label asp-for="SearchTerm"></label>
			<input asp-for="SearchTerm" class="form-control" placeholder="...">
		</div>

		<div class="col-md-3">
			<div class="form-group mt-4 p-2">
				<input type="submit" value="Search" class="btn btn-action" />
			</div>
		</div>
	</div>
</form>


@{
	var previousPage = Model.CurrentPage - 1;
	if (previousPage < 1)
	{
		previousPage = 1;
	}

	var maxPage = Math.Ceiling((double)Model.TotalUsersCount /
		AllUsersQueryModel.UsersPerPage);
}

<div class="row mb-5">
	<div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
		<a class="btn btn-action @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
		   asp-controller="User"
		   asp-action="ManageUsers"
		   asp-route-currentPage="@previousPage"
		   asp-route-rolename="@Model.RoleName"
		   asp-route-searchTerm="@Model.SearchTerm"
		   asp-route-sorting="@((int)Model.Sorting)"><<</a>
	</div>

	@{
		var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
		!Model.Users.Any();
	}	

	<div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
		<a class="btn btn-action
           @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
		   asp-controller="User"
		   asp-action="ManageUsers"
		   asp-route-currentPage="@(Model.CurrentPage + 1)"
		   asp-route-rolename="@Model.RoleName"
		   asp-route-searchTerm="@Model.SearchTerm"
		   asp-route-sorting="@((int)Model.Sorting)">>></a>
	</div>
</div>

@if (!Model.Users.Any())
{
	<h2 class="text-center">No users found by the given criteria!</h2>
}
else
{
	<table class="table table-hover" style="background-color: #c8e596;">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">User</th>
				<th scope="col">Email</th>
				<th scope="col">Role</th>
				<th scope="col">Actions</th>
				<th scope="col">Manage Roles</th>

			</tr>
		</thead>
		<tbody>
			@foreach (var user in Model.Users)
			{
				count++;
				<tr>
					<th scope="row">@count</th>
					<td>@user.Name</td>
					<td>@user.Email</td>
					<td>@String.Join(", ", user.RoleNames)</td>

					<td>
						<a asp-area="Admin" asp-action="Edit" asp-controller="User" asp-route-id="@user.Id" class="btn btn-primary">Edit</a>
						<a asp-area="Admin" asp-action="Delete" asp-controller="User" asp-route-id="@user.Id" class="btn btn-danger">Delete</a>
					</td>
					<td>
						<a asp-area="Admin" asp-action="SetRole" asp-controller="User" asp-route-id="@user.Id" class="btn btn-success">Update</a>
					</td>
				</tr>
			}

		</tbody>
	</table>
}


@*@model IEnumerable<UserListViewModel>
@{
	ViewData["Title"] = "User Profiles";
	int count = 0;
}

<table class="table table-hover" style="background-color: #c8e596;">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">User</th>
			<th scope="col">Email</th>
			<th scope="col">Role</th>
			<th scope="col">Actions</th>
			<th scope="col">Manage Roles</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var user in Model)
		{
			count++;
			<tr>
				<th scope="row">@count</th>
				<td>@user.Name</td>
				<td>@user.Email</td>
				<td>
					@String.Join(", ", user.RoleNames)
				<td>
					<a asp-area="Admin" asp-action="Edit" asp-controller="User" asp-route-id="@user.Id"  class="btn btn-primary">Edit</a>
					<a asp-area="Admin" asp-action="Delete" asp-controller="User" asp-route-id="@user.Id" class="btn btn-danger">Delete</a>
				</td>
				<td>
					<a asp-area="Admin" asp-action="SetRole" asp-controller="User" asp-route-id="@user.Id" class="btn btn-success">Update</a>
				</td>
			</tr>
		}

	</tbody>
</table>*@