@model ProblemDetailsViewModel

@{
    ViewBag.Title = "View Problem Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />



<div class="d-flex justify-content-center">
    <div class="card " style="width: 50rem;">
        <div class="card-body">
            <h3 class="card-title text-center">@Model.DiseaseName</h3>
            <p class="card-text"><span class="fw-bold">Description: </span>@Model.DiseaseDescription</p>           
            <p class="card-text"><span class="fw-bold">Tooth Status: </span>@Model.DentalStatus</p>
            <p class="card-text"><span class="fw-bold">Allergies: </span>@Model.AlergyDescription</p>
            @if (this.User?.Identity?.IsAuthenticated ?? false)
            {
                <tr class="actions">
                    <th><span class="fw-bold">Actions:</span></th>
                    <td>
                        <a asp-controller="Problem" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                        <a asp-controller="Problem" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }

        </div>
    </div>
</div>
