@model DentistStatisticsViewModel

@{
    ViewBag.Title = "Dentist's Statistics";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="card border-success mb-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Patient Info</h5>
                <p class="card-text">First Name:  @Model.FirstName</p>
                <p class="card-text">Last Name:  @Model.LastName</p>
                <p class="card-text">Email:  @Model.Email</p>
                <p class="card-text">Phone Number: @Model.PhoneNumber</p>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Total patients:
            <span class="badge bg-success rounded-pill">@Model.TotalPatientsCount</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Total procedures:
            <span class="badge bg-success rounded-pill">@Model.TotalProceduresCount</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Total attendances:
            <span class="badge bg-success rounded-pill">@Model.TotalAttendancesCount</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Total appointments:
            <span class="badge bg-success rounded-pill">@Model.TotalAppointmentsCount</span>
        </li>
    </ul>
</div>


