@model AppointmentServiceModel

<div class="col-md-4">
	<div class="card mb-3 alert-info text-center">
		<div class="container" style="display:inline">
			@if (this.User.IsInRole("Dentist"))
			{
				<div class="row">
					<h5 class="card-title">Patient Info</h5>
					<p class="card-text"><span class="fw-bold">Full Name: </span>@Model.Patient.FirstName @Model.Patient.LastName </p>
					<p class="card-text"><span class="fw-bold">Email: </span>@Model.Patient.Email </p>
					<p class="card-text"><span class="fw-bold">Phone Number: </span>@Model.Patient.PhoneNumber </p>
				</div>
			}

		</div>
		<div class="card-body alert-success text-center">
			<h4>@Model.StartDate</h4>
			<h6>Details: <b>@Model.Details</b></h6>

			@if (this.User?.Identity?.IsAuthenticated ?? false)
			{
				@if (this.User.IsInRole("Dentist"))
				{
					@if (Model.Status == false)
					{
						<a asp-area"" asp-controller="Appointment" asp-action="Accept" asp-route-id="@Model.Id" class="btn btn-warning">Accept</a>
					}
					else
					{
						<a asp-controller="Appointment" asp-action="Postpone" asp-route-id="@Model.Id" class="btn btn-danger">Postpone</a>
					}
				}

				@if (this.User.IsInRole("Patient"))
				{
					@if (Model.Status == true)
					{
						<p class="card-text alert-success"> Aproved</p>
					}
					else
					{
						<p class="card-text alert-info"> Waiting </p>
					}
				}


			}
		</div>
	</div>
</div>