@model AttedanceServiceModel

<div class="col-md-4">
	<div class="card mb-3 text-center">
		<div class="container" style="display:inline">
			@*@if (this.User.IsInRole("Dentist"))
			{
				<div class="row">
				<h5 class="card-title">Patient Info</h5>
				<p class="card-text">Full Name: @Model.Patient.FirstName @Model.Patient.LastName</p>
				<p class="card-text">Email:  @Model.Patient.Email</p>
				<p class="card-text">Phone Number: @Model.Patient.PhoneNumber</p>
			</div>
			}*@
			
		</div>
		<div class="card-body text-center">
			<h4>@Model.ClinicRemarks</h4>
			<h6>Details: <b>@Model.Diagnosis</b></h6>

			@if (this.User.Identity.IsAuthenticated)
			{
				@if (this.User.IsInRole("Dentist"))
				{
					<a asp-area"" asp-controller="Attendance" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
					<a asp-controller="Attendance" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
					
				}

				@*@if (this.User.IsInRole("Patient"))
				{
					@if (Model.Status == true)
					{
						<p class="card-text alert-success"> Aproved</p>
					}
					else
					{
						<p class="card-text alert-info"> Waiting </p>
					}					
				}*@

				
			}
		</div>
	</div>
</div>