@model ProblemDetailsViewModel

<div class="col-md-4">
    <div class="card border-success mb-3">
		<div class="card-body border-success alert-success text-center">
			<h4>@Model.DiseaseName</h4>
            <p class="card-text"><span class="fw-bold">Description: </span>@Model.DiseaseDescription</p>
            <p class="card-text"><span class="fw-bold">Tooth Status: </span>@Model.DentalStatus</p>
            <p class="card-text"><span class="fw-bold">Allergies: </span>@Model.AlergyDescription</p>

          @*  @if (this.User.Identity.IsAuthenticated)
            {
                <a asp-area"" asp-controller="Houses" asp-action="Edit" asp-route-id="@Model.Id"
               class="btn btn-warning">Edit</a>
                <a asp-controller="Houses" asp-action="Delete" asp-route-id="@Model.Id"
               class="btn btn-danger">Delete</a>
                <p></p>
              
            }*@
		</div>
	</div>
</div>
