@model ProblemDetailsViewModel

<div class="col-md-4">
    <div class="card border-success mb-3">
		<div class="card-body text-center">
			<h4>@Model.DiseaseName</h4>
			<h6>Dental Status: <b>@Model.DentalStatus</b></h6>
			<h6>Description: <b>@Model.DiseaseDescription</b></h6>
			<h6>Alergy: <b>@Model.AlergyDescription</b></h6>

          @*  @if (this.User.Identity.IsAuthenticated)
            {
                <a asp-area"" asp-controller="Houses" asp-action="Edit" asp-route-id="@Model.Id"
               class="btn btn-warning">Edit</a>
                <a asp-controller="Houses" asp-action="Delete" asp-route-id="@Model.Id"
               class="btn btn-danger">Delete</a>
                <p></p>
              
            }*@
		</div>
	</div>
</div>
